<p>Possible choices :</p>
<p>1 : <%= question.first_choice %> </p>
<% if question.number_of_choices > 2 %>
	<p>
	<% for intermediate in (2..question.number_of_choices - 1) do %>
		<%= intermediate %>
		<% if intermediate < question.number_of_choices - 1 %>
			<%=','%>
		<% else %>
			<%= ': Intermediate choice(s)' %>
		<% end %>
	<% end %>
	</p>
<% end %>
<p><%= question.number_of_choices %> : <%= question.last_choice %>
<br /><br />