<%= f.label :title %>
<%= f.text_field :title %>

<div class="question_field">
	<p>
		<%= f.label :number_of_choices %>
		<span class="tips">This is the number of choices the surveyed has at disposal to answer the question e.g. '2' means that the surveyed will have only two choices to answer (usually, 'I agree' or 'I disagree').</span>
		<%= f.select :number_of_choices, options_for_select(list_of_choices_for_question(@question), @question.number_of_choices) %>
	</p>
</div>


<div class="question_field">
	<p>
		<%= f.label :first_choice, "Text for first choice" %>
		<span class="tips">These are the words that will be associated to the first choice in the list of choices.</span>
		<%= f.text_field :first_choice %>
	</p>
</div>

<div class="question_field">
	<p>
		<%= f.label :last_choice, "Text for last choice" %>
		<span class="tips">These are the words that will be associated to the last choice in the list of choices.</span>
		<%= f.text_field :last_choice %>
	</p>
</div>

<div class="question_field">
	<p>
		<%= f.label :link %>
		<span class="tips">This is an optional URI (ex-URL) to provide additional information to the surveyed</span>
		<%= f.text_field :link %>
	</p>
</div>