<% provide(:title, "Survey results") %> 
<h1><%= @question.survey.title %></h1>

<div class="row">
	<div class="span11 offset1">
		<h2 class="question_title"> <%= @question.title %> </h2>

		<% if @question.answers.any? %>
			<% @question.answers.each do |answer| %>
				<p>
					<div class="result_choice result_user_list">
						<%= answer.user.name %> 
					</div>
					
					<div class="result_answer result_user_list">
						<%= answer.choice.to_s %>
					</div>
				</p>

				<p>
					<% if ! answer.comment.nil? && ! answer.comment.blank? %>
						<div class="result_choice">
							comments : 
						</div>
					
						<div class="result_answer">
							<%= answer.comment %>
						</div>
					<% end %>
				</p>
			<% end %>
		<% end %>
	</div>
</div>