<% provide(:title, "Show question") %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for current_user %>
				<%= current_user.name %>
			</h1>
		</section>
	
	</aside>
	
	<div class="span8">
		<h1> <%= @question.title %> </h1>
		
		<p>1 : <%= @question.low_choice %> </p>
		<% if @question.number_of_choices > 2 %>
			<p>
			<% for intermediate in (2..@question.number_of_choices - 1) do %>
				<%= intermediate %>
				<% if intermediate < @question.number_of_choices - 1 %>
					<%=','%>
				<% else %>
					<%= ': Intermediate choice(s)' %>
				<% end %>
			<% end %>
			</p>
		<% end %>
		<p><%= @question.number_of_choices %> : <%= @question.high_choice %>
		<br /><br />
		<%= link_to 'Back to survey', survey_path(current_survey) %>
	</div>
</div>