<% provide(:title, "Show question") %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for current_user %>
				<%= current_user.name %>
			</h1>
		</section>
	
	</aside>
	
	<div class="span8">
		<h1> <%= @question.title %> </h1>
		
		<%= render 'choices', question: @question %>

		<%= link_to 'Back to survey', survey_path(@question.survey) %>
	</div>
</div>