<% provide(:title, "My surveys") %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</section>
		
		<%= link_to "New survey", new_survey_path, class: "btn btn-large btn-primary" %>
	
	</aside>
	
	<div class="span8">
		<h1>My surveys</h1>
		<% if @user.surveys.any? %>
			<h3><%=  pluralize(@user.surveys.count, "owned survey")  %></h3>
	
			<p class="legend_line">
				Legend : 
				<span class="legend_item">
					<i class="icon-lock"></i> Private
				</span>

				<span class="legend_item">
					<i class="icon-eye-open"></i> NOT anonymous
				</span>
			</p>

			<ol class="survey_line">
				<%= render @surveys %>
			</ol>
	
			<%= will_paginate @surveys %>
		<% end %>
	</div>
</div>