<% provide(:title, "Feedback question") %> 
<h1><%= @answer.question.survey.title %></h1>
<h3 class="question_number">Question <%= question_index(@answer.question) + 1 %> out of <%= @answer.question.survey.questions.count %></h3>

<%= render 'shared/error_messages', object: @answer %>

<h2 class="question_title"> <%= @answer.question.title %> </h2>

<% if @answer.question.link.present? %>
	<h4 class="center"><%= link_to "Additional information about the question available here.", @answer.question.link, target: "_blank" %></h4>
<% end %>

<div class="row">
	<div class="span6 offset3">
		
		<%= render 'questions/choices', question: @answer.question %>

		<%= form_for(@answer) do |f| %>   

			<%= render 'fields', f: f %>

			<br />

			<div class="question_buttons">
				<% if question_before?(@answer.question) %>
					<%= link_to "Previous question", answer_path_for_question_before(@answer.question), class: "btn btn-large btn-primary question_previous" %>
				<%	end %>

				<% if question_after?(@answer.question) %>
					<%= f.submit "Save changes and next question", class: "btn btn-large btn-primary question_next" %>
				<% else %>
					<%= f.submit "Save changes and finish", class: "btn btn-large btn-primary question_next" %>
				<% end %>
			</div>
		<% end %>
	</div>
</div>