<% if ! signed_in? %>
	<% provide(:title, 'Home') %>
	<div class="center hero-unit">
		<h1>Feedback Loop</h1>
		<br />
		
		<h2>Surveys for everyone. By everyone.</h2>
		
		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

		<p class="signin">Already have an account? <%= link_to "Sign in", signin_path %></p>
	</div>

	<%= link_to image_tag("rails.png", alt: "Rails") , 'http://rubyonrails.org/' %> Powered by Ruby on Rails
<% else %>
	<% provide(:title, 'All surveys') %>
	<div class="center hero-unit">
		<h1>Give Feedback!</h1>
	</div>
	<div class="row">
		<aside class="span4">
			<section>
				<h1>
					<%= gravatar_for @current_user %>
					<%= @current_user.name %>
				</h1>
			</section>
			<p><%= link_to "Manage my surveys", user_surveys_path, class: "btn btn-large btn-primary btn_width50" %></p>
			<p><%= link_to "Join private survey", new_access_path, class: "btn btn-large btn-primary btn_width50" %></p>
		</aside>
		
		<div class="span8">
			<% if @surveys.any? %>
				<h3><%=  pluralize(@surveys.count, "available survey")  %></h3>

				<p class="legend_line_home">
					Legend : 
					<span class="legend_item">
						<i class="icon-lock"></i> Private
					</span>

					<span class="legend_item">
						<i class="icon-eye-open"></i> NOT anonymous
					</span>
				</p>

				<ol class="survey_line">
					<% @surveys.each do |survey| %>
						<li>
							<span class="icons">
								<% if survey.private %>
									<i class="icon-lock"></i>
								<% end %>
							</span>

							<span class="icons">
								<% if ! survey.anonymous %>
									<i class="icon-eye-open"></i>
								<% end %>
							</span>
							
							<%= link_to survey.title, begin_survey_path(survey) %>
							
							<br />
							
							<span class="timestamp">
								Created <%= time_ago_in_words(survey.created_at) %> ago by <%= survey.user.name %>.
							</span>
						</li>
					<% end %>
				</ol>
				<%= will_paginate @surveys %>
			<% end %>
		</div>
	</div>
<% end %>

