<%= f.label :title %>
<%= f.text_field :title %>

<p>
	<%= f.label :anonymous %>
	<%= f.check_box :anonymous %>
</p>

<p>
	<%= f.label :private %>
	<%= f.check_box :private %>
</p>

<p>
	<%= f.label :closed %>
	<%= f.check_box :closed %>
</p>
