<%= f.label :title %>
<%= f.text_field :title %>

<div class="survey_field">
	<p>
		<%= f.label :anonymous %>
		<span class="tips">If checked, the surveyed will be anonymous:</span>
		<%= f.check_box :anonymous %>
	</p>
</div>


<div class="survey_field">
	<p>
		<%= f.label :private %>
		<span class="tips">If checked, selected surveyed are notified by email:</span>
		<%= f.check_box :private %>
	</p>
</div>

<% if !creation %>
	<div class="survey_field">
		<p>
			<%= f.label :available, "" %>
			<span class="tips">If checked, the survey is available to surveyed:</span>
			<%= f.check_box :available %>
		</p>
	</div>
<% end %>
