<% provide(:title, "Survey results") %> 
<h1><%= @survey.title %></h1>

<div class="row">
	<div class="span11 offset1">
		<% @survey.questions.each do |question| %>
	
			<h2 class="result_question_title"> <%= question.title %> </h2>

			<div class="result_question_details">
				<% if ! @survey.anonymous %>
					<%= link_to "See details", results_question_path(question) %>
				<% end %>
			</div>

			<% comments = "" %>

			<% for choice in (1..question.number_of_choices) do %>
				<p>
					<div class="result_choice">
						<%= 'Choice ' << choice.to_s << ' : ' %>
					</div>
					
					<div class="result_answer">
						<%= pluralize(question.answers.where(choice: choice).count, "answer") %>
					</div>
				</p>

				<% if question.answers.where(choice: choice).any? %>
					<% question.answers.where(choice: choice).each do |answer| %>
						<% if ! answer.comment.nil? && ! answer.comment.blank? %>
							<% comments << '<div class="result_choice">Choice ' << choice.to_s << ' : </div>' %>
							<% comments << '<div class="result_answer">' << sanitize(answer.comment) << '</div>' %>
						<% end %>
					<% end %>
				<% end %>
			<% end %>

			<p>
				<div class="result_choice">
					<div class="result_bold">Count :</div>
				</div>
				
				<div class="result_answer">
					<%= pluralize(question.answers.count, "answer") %>
				</div>
			</p>

			<p>
				<div class="result_choice">
					<div class="result_bold">Average :</div> 
				</div>
				
				<div class="result_answer">
					<%= question.answers.average("choice")?question.answers.average("choice"):0 %>
				</div>
			</p>


			<p>
				<div class="result_choice result_bold">Comments :</div>
				<div class="result_answer">&nbsp;</div>
			</p>
			
			<p>
				<%=raw comments %>
			</p>
			<div class="clear"><br /></div>
		<% end %>
	</div>
</div>