<% provide(:title, "Manage questions") %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for current_user %>
				<%= current_user.name %>
			</h1>
		</section>
		
		<p>
			<%= link_to "New question", new_question_path, class: "btn btn-large btn-primary btn_width50" %>
		</p>

		<% if ! @survey.available and @survey.questions.count > 0%>
			<p>
				<%= link_to "Make survey available", edit_survey_path(@survey), class: "btn btn-large btn-primary btn_width50", confirm: "Have you created all the questions for the survey ?" %>
			</p>
		<% end %>

		<% if @survey.available %>
			<p>
				<% mail_sender = "Hi!\n\nA new survey titled \""+@survey.title+"\" has been added to Feedback Loop by "+@survey.user.name+".\n" %> 

				<% if @survey.private %>
					<% mail_sender = mail_sender + "\nThis survey is private, to join it, click the \"Join private survey\" button on the home page and enter the key : "+@survey.key+"\n" %>
				<% end %>

				<% mail_sender = mail_sender + "\nSo just stop whatever you\'re doing and go to http://... to feedback it.\n\nThanks!\n\nThe Feedback Loop team" %>

				<%= mail_to "", "Notify surveyed", :subject => "A new survey is available on Feedback Loop", :body => mail_sender, class: "btn btn-large btn-primary btn_width50" %>
			</p>
		<% end %>
	
	</aside>
	
	<div class="span8">
		<h1>Manage questions</h1>
		<h3>Questions for survey : <%= link_to @survey.title, user_surveys_path %> </h3>

		<% if @survey.questions.any? %>	
			<br />
			
			<ol class="questions">
				<%= render @questions %>
			</ol>
	
			<%= will_paginate @questions %>
		<% end %>
	</div>
</div>